# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.exe~
*.o
*.so
*.dylib

# Test
*.test

# Output
*.out 

# Go workspace file
go.work
go.work.sum

# env file
.env

# json file
*.json

# Pastas
.vscode/
tmp/
vendor/
